
<div class="isbfooter">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">              
                <p><b>Contact Us:</b></p>
            </div>
            <div class="col-md-3">               
                <p>alumni_engagement@isb.edu</p>                
            </div>
            <div class="col-md-3">               
                <p>+91 40 2318 7777 (Hyderabad)</p>               
            </div>
            <div class="col-md-3">                
                <p>+91 172 459 0000 (Mohali)</p>             
            </div>
          </div>
      </div>
    </div>
    </div>
   